<?xml version="1.0" encoding="UTF-8"?>
<!-- ####################################################################
        @inject.warning.msg@
     #################################################################### -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- $Id$ -->
<beans>

    <bean id="Service" class="org.xsocket.web.http.servlet.Service"/>
    

	<bean name="/Service" class="org.springframework.remoting.caucho.HessianServiceExporter">
	  <property name="service" ref="Service"/>
	  <property name="serviceInterface" value="org.xsocket.web.http.servlet.IService"/>
	</bean>

</beans>
