<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean name="mvcController" class="org.xsocket.web.http.servlet.SpringController"/>

    <bean name="springInterceptor" class="org.xsocket.web.http.servlet.SpringInterceptor"/>
    
    <bean name="someBean" class="org.xsocket.web.http.servlet.SomeBean"/>


</beans>
